extends ../index.pug

block contents
    .container.lecture
        .profile
            img.profile-img(src="#{lecture.teacher_image}")
            .info
                h4= lecture.teacher_name
                p= lecture.teacher_info
        hr
        h3 #{lecture.name}
        h6.contradiction (#{lecture.now}명 / #{lecture.max}명) 모집
        p.description= lecture.description
        hr
        form(method="post")
            if already
                input.button-danger(type="submit" style="float: right;" value='신청취소')
            else
                input.button-primary(type="submit" style="float: right;" value='신청하기')