extends ../index.pug

block contents
    .container.lecture
        .profile
            img.profile-img(src="#{lecture.teacher_image}")
            .info
                h4= lecture.teacher_name
                p= lecture.teacher_info
        hr
        h3 #{lecture.name}
        h6.contradiction (#{lecture.now}명 / #{lecture.max}명) 모집
        p.description= lecture.description
        hr
        .row
            .six.columns
                h5 강의 시간
                p= lecture.class_time
            .six.columns
                h5 준비물
                p= lecture.need_thing
        form(method='post' action=($already) ? '/remove/lecture' : '/lecture')
            input(type="hidden" value="#{lecture.idx}" name="lecture_id")
            if already
                input.button-danger(type="submit" style="float: right;" value='신청취소')
            else
                input.button-primary(type="submit" style="float: right;" value='신청하기')