extends ../index.pug

block contents
    .container
        h3 관리 목록
        p 각 강의를 눌러서 강의를 관리할 수 있습니다.
        form
            table.u-full-width
                thead
                    tr
                        th 강의명
                        th 강사 정보
                        th 활성화 여부
                        th 신청 인원
                tbody
                    each lecture in lectures
                        tr(onclick="location.href='/manager/lectures/#{lecture.idx}';")
                            td= lecture.name
                            td= lecture.teacher_info
                            td= lecture.active
                            td #{lecture.number} 명 / #{lecture.maximum} 명

        button.button-primary(style="float: right;", onclick="location.href='/manager/add';") 강의 추가

        h3 관리자 목록
        p 관리자를 눌러서 관리자에서 제명할 수 있습니다.
        #inform
        form
          table.u-full-width
            thead
              tr
                th 이름
                th 학번
                th 타입
            tbody
              each admin in admins
                tr.adminitem(data-adminid='#{admin.idx}')
                  td= admin.name
                  td= admin.serial
                  td
                    if admin.serial == '0000'
                      선생님
                    else
                      학생

        button.button-primary(style="float: right;", onclick="location.href='/manager/admins/add';") 관리자 추가

    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='/javascripts/site.js')
